# self file
!.gitkeep

CMakeLists.txt.user
CMakeLists_modified.txt

# IDE or build file
.idea/
.vscode/
build/
*build*/
lib/*
cmake-build-debug/
core

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

# log file
*.log
